{% extends "base.html" %}
{% block content %}
<h2 class="text-white text-center">اضافه کردن نازل‌ها برای {{ station.name }}</h2>
<div class="container">
<form method="post">
    {% csrf_token %}
    {% load extras %}

    {% for i in station.gasoline_nozzles|times %}
        <h3 class="text-white mt-4">نازل بنزین {{ i }}</h3>
        <div class="form-group">
        <input type="number" step="0.01" id="gasoline_nozzle_start_totalizer_{{ i }}" placeholder="توتالایزر ابتدای دوره" name="gasoline_nozzle_start_totalizer_{{ i }}" required><br>
        <label for="gasoline_nozzle_start_totalizer_{{ i }}">توتالایزر ابتدای دوره:</label>
    </div>
    <div class="form-group">
        <input type="number" step="0.01" id="gasoline_nozzle_end_totalizer_{{ i }}" placeholder="توتالایزر انتهی دوره" name="gasoline_nozzle_end_totalizer_{{ i }}" required><br>
        <label for="gasoline_nozzle_end_totalizer_{{ i }}">توتالایزر انتهی دوره:</label>
    </div>
        {% endfor %}

    {% for i in station.gas_nozzles|times %}
        <h3 class="text-white mt-4">نازل گاز {{ i }}</h3>
        <div class="form-group">
        <input type="number" step="0.01" id="gas_nozzle_start_totalizer_{{ i }}" placeholder="توتالایزر ابتدای دوره:" name="gas_nozzle_start_totalizer_{{ i }}" required><br>
        <label for="gas_nozzle_start_totalizer_{{ i }}">توتالایزر ابتدای دوره:</label>
    </div>
        <div class="form-group">
        <input type="number" step="0.01" id="gas_nozzle_end_totalizer_{{ i }}" placeholder="توتالایزر انتهی دوره:" name="gas_nozzle_end_totalizer_{{ i }}" required><br>
        <label for="gas_nozzle_end_totalizer_{{ i }}">توتالایزر انتهی دوره:</label>
    </div>
    
        {% endfor %}

    <button class="btn btn-light w-100 mt-4 mb-4" type="submit">ذخیره</button>
</form>
</div>
{% endblock %}