{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
   
.button-container {
    display: flex;
    gap: 10px;
}
.fixed-bottom-options {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    
}

.btn {
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    
}
.glasss{
    
    background: rgba(255, 255, 255, 0.2);
            border-radius: 15px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgb(255, 255, 255);
            box-shadow: 0 4px 30px rgba(80, 80, 80, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-align: center;
            padding: 20px;
            font-weight: bold
}
.btn-gas:hover {
    transform: scale(1.1);
}

.btn-petrol:hover {
    transform: scale(1.1);
}
    
.btn-both:hover {
    transform: scale(1.1);
}
    
.showGaz{
    display: none;
}

.showFuel{
    display: none;
}

.showAll{
    display: none;
}
.showBase{
    display: none;

}
.gg{
    display: block;
}
.page.active {
    display: block;
}

.page {
    display:none;
}   
</style>


<div   class="container  mt-4 px-2">
    <form method="post">
        {% csrf_token %}

        <div class="page" id="page1">

            <h5 class="text-start text-white mt-3 ms-2 showBase">نام جایگاه وارد کنید</h5>
            <div  class="form-group text-start   ">
                <input type="text" class="" id="name" name="name"  placeholder="اسم جایگاه سوخت" required>
                <label  class="" for="name">اسم جایگاه سوخت</label>
            </div>

        </div>

        <div class="page" id="page2">

            <p class="text-center text-white">لطفا یکی از گزینه های زیر انتخاب کنید</p>
            <div class="button-container">
                <button onclick="showGas()" class="btn glasss btn-gas btn btn-outline-info w-100">نفتگاز</button>
                <button onclick="showPetrol()" class="btn glasss btn-petrol btn btn-outline-info w-100">بنزین</button>
                <button onclick="showBoth()" class="btn glasss btn-both btn btn-outline-info w-100">هر دو</button>
            </div>

        </div>

        <div class="page " id="page3">

            <h4 class="text-center text-white">دوره کنترل را وارد کنید</h4>
            <div class="form-group showBase ">
                <input type="date" placeholder="تاریخ شروع دوره" id="start_date" name="start_date" required>
                <label for="start_date">تاریخ شروع دوره</label>
            </div>

            <div class="form-group showBase ">
                <input type="date" placeholder="تاریخ پایان دوره" id="end_date" name="end_date" required>
                <label for="end_date">تاریخ پایان دوره</label>
            </div>

        </div>

        <div class="page " id="page5">
            <div class="form-group showFuel showAll">

                <input type="number" class="showFuel" id="gasoline_tanks" placeholder="تعداد مخازن بنزین" name="gasoline_tanks" required>
                <label for="gasoline_tanks">تعداد مخازن بنزین</label>

            </div>

            <div class="form-group showFuel showAll">

                <input type="number" class="showFuel" id="gasoline_nozzles" placeholder="تعداد نازل های بنزین " name="gasoline_nozzles" required>
                <label for="gasoline_nozzles">تعداد نازل‌های بنزین</label>

            </div>

            <div class="form-group showGaz showAll">

                <input type="number" class="showGaz" id="gas_tanks" placeholder="تعداد مخازن نفتگاز" name="gas_tanks" required>
                <label for="gas_tanks">تعداد مخازن نفتگاز</label>
                
            </div>
            
            <div class="form-group showGaz showAll">

                <input type="number" class="showGaz" placeholder="تعداد نازل های نفتگاز" id="gas_nozzles" name="gas_nozzles" required>
                <label for="gas_nozzles">تعداد نازل‌های نفتگاز</label>

            </div>

        </div>

        <div class="page " id="page6">
            <div class="form-group showFuel showAll">

                <input type="number" class="showFuel" step="0.01" placeholder="مقدار ابتدای دوره بنزین" id="gasoline_beginning" name="gasoline_beginning" required>
                <label for="gasoline_beginning">مقدار ابتدای دوره بنزین</label>

            </div>

            <div class="form-group showFuel showAll">

                <input type="number" class="showFuel" step="0.01" placeholder="مقدار رسید بنزین دوره" id="gasoline_received" name="gasoline_received" required>
                <label for="gasoline_received">مقدار رسیده بنزین دوره</label>

            </div>
            <hr>
            <div id="gasoline-tanks" class="showFuel showAll">
                <!-- Dynamically populated fields for gasoline tanks will appear here -->
            </div>
            <hr>

            <div class="form-group showGaz ">

                <input type="number" class="showGaz" step="0.01" placeholder="مقدار ابتدای دوره نفتگاز" id="gas_beginning" name="gas_beginning" required>
                <label for="gas_beginning">مقدار ابتدای دوره نفتگاز</label>

            </div>

            <div class="form-group showGaz showAll">

                <input type="number" class="showGaz" step="0.01" placeholder="مقدار رسید نفتگاز دوره" id="gas_received" name="gas_received" required>
                <label for="gas_received">مقدار رسیده نفتگاز دوره</label>
            
            </div>

            <div id="gas-tanks" class="showGaz showAll mb-4">

                <!-- Dynamically populated fields for gas tanks will appear here -->
            </div>

            <span class="p-5"></span>

        </div>

        <div class="page " id="page8">
            
            <div id="gasoline-nozzlesT" class=" showFuel showAll">
                <!-- Dynamically populated fields for gasoline nozzles will appear here -->
            </div>

            <div id="gas-nozzlesT" class="showGaz showAll">
                <!-- Dynamically populated fields for gas nozzles will appear here -->
            </div>
        
        </div>

        <div class="page" id="page9">
            <div>

                <div class="form-group showFuel showAll">
                    <input type="number" class="showFuel" step="0.01" placeholder="کل فروش الکترونیکی بنزین" id="electronic_gasoline_sales" name="electronic_gasoline_sales" required>
                    <label for="electronic_gasoline_sales">کل فروش الکترونیکی بنزین</label>
                </div>

                <div class="form-group showGaz showAll">
                    <input type="number" class="showGaz" step="0.01" placeholder="کل فروش الکترونیکی نفتگاز" id="electronic_gas_sales" name="electronic_gas_sales" required>
                    <label for="electronic_gas_sales">کل فروش الکترونیکی نفتگاز</label>
                </div>
                
                <div class="mb-3 mt-4 py-2">
                    <button type="submit" class="btn btn-light w-100 mb-5  showBase text-black ">ذخیره</button>
                    <span class="p-4"></span>
                </div>

            </div>
        </div>

    </form>
</div>


<!-- Fixed bottom options -->
<div class="fixed-bottom fixed-bottom-options">
    <div class="container-fluid">
        <div class="row text-center d-flex justify-content-center">

            <div  id="nextButton"   class="col-5 d-flex glasss justify-content-center btn btn-outline-success mx-2 ">
                <div>
                    <span class=" text-colorforbuylow">
                    <small>بعدی</small>
                    </span>
                </div>
            </div>

            <div id="prevButton" class="col-5 d-flex glasss justify-content-center btn btn-outline-danger mx-2">
                <div>
                    <span class="text-colorforbuylow">
                        <small>قبل</small>
                    </span>
                </div>
            </div>
            
        </div>
    </div>
</div>


<script>

let BASE = document.querySelectorAll('.showBase');
function showGas() {
    let gasElements = document.querySelectorAll('.showGaz');
    let fuelElements = document.querySelectorAll('.showFuel');
    
    gasElements.forEach(element => {
        element.style.display = 'block';
        if (element.tagName === 'INPUT') {
            element.value = '';
        }
    });
    BASE.forEach(element => {
        element.classList.remove('showBase');
        element.classList.add('gg')
    });
    
    BASE.forEach(element => {
        element.classList.remove('showBase');
        element.classList.add('gg')

    });
    fuelElements.forEach(element => {
        element.style.display = 'none';
        if (element.tagName === 'INPUT') {
            element.value = '0';
        }
    });
}

function showPetrol() {
    let gasElements = document.querySelectorAll('.showGaz');
    let fuelElements = document.querySelectorAll('.showFuel');
    
    gasElements.forEach(element => {
        element.style.display = 'none';
        if (element.tagName === 'INPUT') {
            element.value = '0';
        }
    });
    BASE.forEach(element => {
        element.classList.remove('showBase');
        element.classList.add('gg')

    });
    
    BASE.forEach(element => {
        element.classList.remove('showBase');
        element.classList.add('gg')

    });
    fuelElements.forEach(element => {
        element.style.display = 'block';
        if (element.tagName === 'INPUT') {
            element.value = '';
        }
    });
}

function showBoth() {
    let gasElements = document.querySelectorAll('.showGaz');
    let fuelElements = document.querySelectorAll('.showFuel');
    
    gasElements.forEach(element => {
        element.style.display = 'none';
        if (element.tagName === 'INPUT') {
            element.value = '0';
        }
    });fuelElements.forEach(element => {
        element.style.display = 'none';
        if (element.tagName === 'INPUT') {
            element.value = '0';
        }
    });
    BASE.forEach(element => {
        element.classList.remove('showBase');
        element.classList.add('gg')

    });
    
    BASE.forEach(element => {
        element.classList.remove('showBase');
        element.classList.add('gg')

    });
    
    
    gasElements.forEach(element => {
        element.style.display = 'block';
        if (element.tagName === 'INPUT') {
            element.value = '';
        }
    });

    fuelElements.forEach(element => {
        element.style.display = 'block';
        if (element.tagName === 'INPUT') {
            element.value = '';
        }
    });
}

document.addEventListener('DOMContentLoaded', () => {
    const pages = document.querySelectorAll('.page');
    let nextButton = document.getElementById('nextButton');
    const prevButton = document.getElementById('prevButton');
    let currentPageIndex = 0;

    // نمایش صفحه اول
    pages[currentPageIndex].classList.add('active');

    // بروزرسانی وضعیت دکمه‌ها
    function updateButtons() {
        prevButton.disabled = currentPageIndex === 0;
        nextButton.disabled = currentPageIndex === pages.length - 1;
    }

    // بروزرسانی دکمه‌ها برای اولین بار
    updateButtons();

    nextButton.addEventListener('click', () => {
        if (currentPageIndex < pages.length - 1) {
            // پنهان کردن صفحه فعلی
            pages[currentPageIndex].classList.remove('active');
            // افزایش اندیس صفحه
            currentPageIndex++;
            // نمایش صفحه جدید
            pages[currentPageIndex].classList.add('active');
            // بروزرسانی وضعیت دکمه‌ها
            updateButtons();
        }
    });

    prevButton.addEventListener('click', () => {
        if (currentPageIndex > 0) {
            // پنهان کردن صفحه فعلی
            pages[currentPageIndex].classList.remove('active');
            // کاهش اندیس صفحه
            currentPageIndex--;
            // نمایش صفحه جدید
            pages[currentPageIndex].classList.add('active');
            // بروزرسانی وضعیت دکمه‌ها
            updateButtons();
        }
    });
});


document.addEventListener("DOMContentLoaded", function() {
    // دریافت فیلد ورودی و دکمه
    const nameInput = document.getElementById("name");
    let nextButton = document.getElementById('nextButton');
            
    // تابع برای بررسی وضعیت ورودی
    const checkInput = () => {
        if (nameInput.value.trim() !== "") {
            nextButton.classList.add("hidden"); // مخفی کردن دکمه
        } else {
            nextButton.classList.remove("hidden"); // نمایش دکمه
        }
    };

    // افزودن رویداد 'input' به فیلد ورودی
    nameInput.addEventListener("input", checkInput);
});


    // JavaScript for dynamically adding tank and nozzle fields
document.getElementById('gasoline_tanks').addEventListener('change', function() {
    var tankCount = parseInt(this.value);
    var container = document.getElementById('gasoline-tanks');
    container.innerHTML = '';
    for (var i = 1; i <= tankCount; i++) {
        container.innerHTML += `
            <div class="form-group">
                <input type="number" step="0.01" id="gasoline_tank_${i}" name="gasoline_tank_${i}" placeholder="موجوی مخزن بنزین ${i} " required>
                <label for="gasoline_tank_${i}">موجوی مخزن بنزین  ${i} </label>
            </div>
        `;
    }
});

document.getElementById('gas_tanks').addEventListener('change', function() {
    var tankCount = parseInt(this.value);
    var container = document.getElementById('gas-tanks');
    container.innerHTML = '';
    for (var i = 1; i <= tankCount; i++) {
        container.innerHTML += `
            <div class="form-group">
                <input type="number" step="0.01" id="gas_tank_${i}" name="gas_tank_${i}" placeholder="موجوی مخزن نفتگاز ${i} " required>
                <label for="gas_tank_${i}">موجوی مخزن نفتگاز  ${i} </label>
            </div>
        `;
    }
});

document.getElementById('gasoline_nozzles').addEventListener('change', function() {
    var nozzleCount = parseInt(this.value);
    var container = document.getElementById('gasoline-nozzles');
    container.innerHTML = '';
    for (var i = 1; i <= nozzleCount; i++) {
        container.innerHTML += `
            <div class="form-group">
                <input type="number" step="0.01" id="gasoline_nozzle_${i}" name="gasoline_nozzle_${i}" placeholder="مقدار نازل بنزین ${i} " required>
                <label for="gasoline_nozzle_${i}">مقدار نازل بنزین  ${i} </label>
            </div>
        `;
    }
});

document.getElementById('gas_nozzles').addEventListener('change', function() {
    var nozzleCount = parseInt(this.value);
    var container = document.getElementById('gas-nozzles');
    container.innerHTML = '';
    for (var i = 1; i <= nozzleCount; i++) {
        container.innerHTML += `
            <div class="form-group">
                <input type="number" step="0.01" id="gas_nozzle_${i}" name="gas_nozzle_${i}" placeholder="مقدار نازل نفتگاز${i} " required>
                <label for="gas_nozzle_${i}">مقدار نازل نفتگاز ${i} </label>
            </div>
        `;
    }
});

document.getElementById('gasoline_nozzles').addEventListener('change', function() {
    var nozzleCount = parseInt(this.value);
    var container = document.getElementById('gasoline-nozzlesT');
    container.innerHTML = '';
    for (var i = 0; i < nozzleCount; i++) {
        container.innerHTML += `
    <h5 class="text-start text-white mt-3 ms-2 ">بنزین</h5>

            <div class="form-group">
                <input type="number" step="0.01" id="gasoline_nozzle_start_totalizer_${i}" name="gasoline_nozzle_start_totalizer_${i}" placeholder="مقدار توتالیزو ابتدا دوره نازل بنزین شماره " class="" required>
                <label for="gasoline_nozzle_start_totalizer_${i}">مقدار توتالیزو ابتدا دوره نازل بنزین شماره  ${i + 1}</label>
            </div>
            <div class="form-group">
                <input type="number" step="0.01" id="gasoline_nozzle_end_totalizer_${i}" name="gasoline_nozzle_end_totalizer_${i}" placeholder="مقدار توتالیزو انتها دوره نازل بنزین شماره "  class="" required>
                <label for="gasoline_nozzle_end_totalizer_${i}">مقدار توتالیزو انتها دوره نازل بنزین شماره  ${i + 1}</label>
            </div>
        `;
    }
});

document.getElementById('gas_nozzles').addEventListener('change', function() {
    var nozzleCount = parseInt(this.value);
    var container = document.getElementById('gas-nozzlesT');
    container.innerHTML = '';
    for (var i = 0; i < nozzleCount; i++) {
        container.innerHTML += `
    <h5 class="text-start text-white mt-3 ms-2 ">نفتگاز</h5>
            
            <div class="form-group">
                <input type="number" step="0.01" id="gas_nozzle_start_totalizer_${i}" name="gas_nozzle_start_totalizer_${i}" placeholder="مقدار توتالیزو ابتدا دوره نازل نفتگاز شماره " class="" required>
                <label for="gas_nozzle_start_totalizer_${i}">مقدار توتالیزو ابتدا دوره نازل نفتگاز شماره  ${i + 1}</label>
            </div>
            <div class="form-group">
                <input type="number" step="0.01" id="gas_nozzle_end_totalizer_${i}" name="gas_nozzle_end_totalizer_${i}" placeholder="مقدار توتالیزو انتها دوره نازل نفتگاز شماره " class="" required>
                <label for="gas_nozzle_end_totalizer_${i}">مقدار توتالیزو انتها دوره نازل نفتگاز شماره  ${i + 1}</label>
            </div>
        `;
    }
});
</script>

{% endblock %}