{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container  mt-4 px-2">
    <form method="post" id="myForm">
        {% csrf_token %}

        <div class="page" id="page1">

            <h5 class="text-start text-white mt-3 ms-2 showBase">نام جایگاه وارد کنید</h5>
            <div  class="form-group text-start   ">
                <input type="text" class="" id="name" name="name"  placeholder="اسم جایگاه سوخت" required>
                <label  class="" for="name">نام جایگاه </label>
            </div>

        </div>

        <div class="page" id="page2">

            <p class="text-center text-white">لطفا یکی از گزینه های زیر انتخاب کنید</p>
            <div class="button-container d-grid">

                <button onclick="showGas()" class="btn glasss btn-gas btn btn-outline-info w-100 mt-3 bi bi-circle-fill text-warning">
                    <span onclick="handleClick('button1')" class="ms-1 text-white">نفتگاز</span>
                </button>

                <button onclick="showPetrol()" class="btn glasss btn-petrol btn btn-outline-info w-100 mt-3 bi bi-circle-fill text-danger">
                    <span onclick="handleClick('button2')" class="ms-1 text-white">بنزین</span>
                </button>
                
                <button onclick="showBoth()" class="btn glasss btn-both btn btn-outline-info w-100 mt-3 ">
                    <span class="bi bi-circle-fill text-warning ms-1"></span>
                    <span onclick="handleClick('button3')" class="ms-1 me-1 text-white"> هر دو </span>
                    <span class="bi bi-circle-fill text-danger me-1"></span>
                </button>
            </div>

        </div>

        <div class="page" id="page3">
            <h4 class="text-center text-white">دوره کنترل را وارد کنید</h4>
            <div class="form-group showBase">
                <div id="start_date_container" class="datepicker-container"></div>
                <label for="start_date">تاریخ شروع (شمسی):</label>
                <input type="data" id="start_date" name="start_date" required placeholder="YYYY-MM-DD"><br>            </div>
        
            <div class="form-group showBase">
                <div id="end_date_container" class="datepicker-container"></div>
                <label for="end_date">تاریخ پایان (شمسی):</label>
                <input type="data" id="end_date" name="end_date" required placeholder="YYYY-MM-DD"><br>
            </div>
        </div>
        
        <div class="page " id="page5">

            <h5 class="text-start text-danger mt-3 ms-2 showFuel showAll "><i class="bi bi-circle-fill"></i></h5>
            <div class="form-group showFuel showAll">

                <input type="number" class="showFuel MAX" id="gasoline_tanks" min="1" max="10" step="1" value="1" placeholder="تعداد مخازن بنزین" name="gasoline_tanks" required>
                <label for="gasoline_tanks">تعداد مخازن بنزین</label>

            </div>

            <div class="form-group showFuel showAll">

                <input type="number" class="showFuel MAX" id="gasoline_nozzles" min="1" max="30" step="1" value="1" placeholder="تعداد نازل های بنزین " name="gasoline_nozzles" required>
                <label for="gasoline_nozzles">تعداد نازل‌های بنزین</label>

            </div>

            <h5 class="text-start text-warning mt-3 ms-2 showGaz showAll"><i class="bi bi-circle-fill"></i></h5>

            <div class="form-group showGaz showAll">

                <input type="number" class="showGaz MAX" id="gas_tanks" min="1" max="10" step="1" value="1" placeholder="تعداد مخازن نفتگاز" name="gas_tanks" required>
                <label for="gas_tanks">تعداد مخازن نفتگاز</label>
                
            </div>
            
            <div class="form-group showGaz showAll">

                <input type="number" class="showGaz MAX" placeholder="تعداد نازل های نفتگاز" id="gas_nozzles" min="1" max="30" step="1" value="1" name="gas_nozzles" required>
                <label for="gas_nozzles">تعداد نازل‌های نفتگاز</label>

            </div>

        </div>

        <div class="page " id="page6">
            <h5 class="text-start text-danger mt-3 ms-2 showFuel showAll "><i class="bi bi-circle-fill"></i></h5>

            <div class="form-group showFuel showAll">

                <input type="number" class="showFuel" step="0.01" placeholder="مقدار ابتدای دوره بنزین" id="gasoline_beginning" name="gasoline_beginning" required>
                <label for="gasoline_beginning">مقدار ابتدای دوره بنزین</label>

            </div>

            <div class="form-group showFuel showAll">

                <input type="number" class="showFuel" step="0.01" placeholder="مقدار رسید بنزین دوره" id="gasoline_received" name="gasoline_received" required>
                <label for="gasoline_received">مقدار رسیده بنزین دوره</label>

            </div>
            <hr>
            <div id="gasoline-tanks" class="showFuel showAll">
                <!-- Dynamically populated fields for gasoline tanks will appear here -->
            </div>
            <hr>

            <h5 class="text-start text-warning mt-3 ms-2 showGaz showAll "><i class="bi bi-circle-fill"></i></h5>

            <div class="form-group  showGaz showAll ">
                
                <input type="number" class="showGaz" step="0.01" placeholder="مقدار ابتدای دوره نفتگاز" id="gas_beginning" name="gas_beginning" required>
                <label for="gas_beginning">مقدار ابتدای دوره نفتگاز</label>

            </div>

            <div class="form-group showGaz showAll">

                <input type="number" class="showGaz" step="0.01" placeholder="مقدار رسید نفتگاز دوره" id="gas_received" name="gas_received" required>
                <label for="gas_received">مقدار رسیده نفتگاز دوره</label>
            
            </div>

            <div id="gas-tanks" class="showGaz showAll mb-4">

                <!-- Dynamically populated fields for gas tanks will appear here -->
            </div>

            <span class="p-5"></span>

        </div>

        <div class="page " id="page8">
            
            <div id="gasoline-nozzlesT" class=" showFuel showAll">
                <!-- Dynamically populated fields for gasoline nozzles will appear here -->
            </div>
        </br></br></br></br>
            <div id="gas-nozzlesT" class="showGaz showAll">
                <!-- Dynamically populated fields for gas nozzles will appear here -->
            </div>
        </br></br></br></br>

        </div>

        <div class="page" id="page9">
            <div>
                <h5 class="text-start text-danger mt-3 ms-2  showFuel showAll"><i class="bi bi-circle-fill"></i></h5>
                <div class="form-group showFuel showAll">
                    <input type="number" class="showFuel" step="0.01" placeholder="کل فروش الکترونیکی بنزین" id="electronic_gasoline_sales" name="electronic_gasoline_sales" required>
                    <label for="electronic_gasoline_sales">کل فروش الکترونیکی بنزین</label>
                </div>

                <h5 class="text-start text-warning mt-3 ms-2 showGaz showAll"><i class="bi bi-circle-fill"></i></h5>
                <div class="form-group showGaz showAll">
                    <input type="number" class="showGaz" step="0.01" placeholder="کل فروش الکترونیکی نفتگاز" id="electronic_gas_sales" name="electronic_gas_sales" required>
                    <label for="electronic_gas_sales">کل فروش الکترونیکی نفتگاز</label>
                </div>

            </div>
        </div>

        <div class="page" id="page10">
            <h5 class="text-start text-white mt-3 ms-2 showBase"> نام بازرس </h5>
            <div  class="form-group text-start   ">
                <input type="text" class="" id="controller" name="controller"  placeholder=" نام بازرس " required>
                <label  class="" for="controller"> نام بازرس </label>
            </div>
            <div class="mb-3 mt-4 py-2">
               
                <span class="p-4"></span>
            </div>
        </div>
        
    </form>
</div>


<!-- Fixed bottom options -->
<div class="fixed-bottom fixed-bottom-options mb-3 pt-5">
    <div class="container-fluid">
        <div class="row text-center d-flex justify-content-center">

            <div  id="nextButton"   class="col-5 d-flex glasss justify-content-center btn btn-outline-success mx-2 ">
                <div>
                    <span class=" text-colorforbuylow fw-bold"> ادامه </span>
                </div>
            </div>

            <div id="prevButton" class="col-5 d-flex glasss justify-content-center btn btn-outline-danger mx-2">
                <div>
                    <span class="text-colorforbuylow"> بازگشت </span>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    // انتخاب تمام عناصر با کلاس showFuel
    document.querySelectorAll('.MAX').forEach(function(input) {
        // اضافه کردن رویداد input به هر ورودی
        input.addEventListener('input', function() {
            let min = parseInt(input.min);
            let max = parseInt(input.max);
            let step = parseInt(input.step);
            let value = parseInt(input.value);
            
            if (value < min) {
                input.value = min;
            } else if (value > max) {
                input.value = max;
            } else if ((value - min) % step !== 0) {
                // در صورتی که مقدار وارد شده با step هماهنگ نباشد، آن را به نزدیکترین مقدار صحیح تنظیم کنید
                input.value = Math.round((value - min) / step) * step + min;
            }
        });
    });
    {% comment %} function handleClick(fuelType) {
            localStorage.setItem('selectedFuel', fuelType);
            window.location.href = "{% url ' station_detail' %}";
        } {% endcomment %}
</script>
{% endblock %}