{% extends "base.html" %}
{% block content %}

<style>
     h3 {
          opacity: 0;
          transform: translateY(-20px);
          color: white;
          animation: fadeInMove 3s forwards;
      }
      @keyframes fadeInMove {
          to {
              opacity: 1;
              transform: translateY(0);
          }
      }
      .img-fluid{
        filter: sepia(1) saturate(10000%) hue-rotate(180deg);
          filter: brightness(0) invert(1);
      }
</style>
<div class="text-center">

    <img class="img-fluid w-75" src="https://www.nigc-zanjan.ir/content/adminlogo.png" alt="">
</div>
<h3 class="text-center">
  برنامه بازرسی جایگان سوخت 
  <span>GsPMC</span>
</h3>
<a href="{% url 'create_station'%}">
<button class="btn btn-outline-light w-100">

    ایجاد فایل جدید
</button>
</a>
{% endblock %}