{% extends "base.html" %}
{% load static %}



{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/white-logo.png' %}" width="600" height="100" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
        </ul>
    </div>
</nav>
<div class="text-center">
        <button class="btn btn-success list-group-item  border border-3 shadow shadow-4 text-black"><a href="{% url 'create_station' %}">  جدید +  </a></button>
</div>
{% endblock %}
