
{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<style>
  table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }
    th, td {
        border: 2px solid #000;
        text-align: center;
    }
    td {
        background-color: #ffffff;
    }
    th {
        background-color: #f2f2f2;
    }
    thead th {
        background-color: #ddd;
        font-weight: bold;
    }
    /* Media Query for Mobile Devices */
    @media (max-width: 767px) {
        .container-fluid {
            padding: 0 4px;
            
        }
        table {
            font-size: 12px;
        }
        th, td {
            padding: 2px;
            
        }
    }
</style>
<div class="p-3">
<div class="page container p-3" id="page2">

    <p class="text-center text-white">  گزارش جایگاه : </p>
    <div class="button-container d-grid">

        <button onclick="showGas()" class="btn glasss btn-gas btn btn-outline-info w-100 mt-3 bi bi-circle-fill text-warning">
            <span class="ms-1 text-white">نفتگاز</span>
        </button>

        <button onclick="showPetrol()" class="btn glasss btn-petrol btn btn-outline-info w-100 mt-3 bi bi-circle-fill text-danger">
            <span class="ms-1 text-white">بنزین</span>
        </button>
        
        <button onclick="showBoth()" class="btn glasss btn-both btn btn-outline-info w-100 mt-3 ">
            <span class="bi bi-circle-fill text-warning ms-1"></span>
            <span class="ms-1 me-1 text-white"> هر دو </span>
            <span class="bi bi-circle-fill text-danger me-1"></span>
        </button>
    </div>

</div>
<div class="container mt-4">
    <div class="row">

        <div class="col-12 border border-1 p-1 showBase">
            <div class="d-flex justify-content-between">
    
                <div>
                    <p class="text-white">نام جایگاه : {{ station.name }}</p>
    
                </div>
    
                <div>
                <p class="text-white me-5"> تاریخ بازدید:</p>
                <p class="text-white me-5"><strong>ساعت:</strong> ...</p>
                </div>
    
            </div>
            
            <div class="text-white">
                <p><strong>دوره کنترل :</strong>  از تاریخ : {{ station.start_date }} <span>لغایت : {{ station.end_date }}</span></p>
                <p><strong>کنترل کننده :</strong> {{ station.controller }} </p>
            </div>
        </div>
    

    <div class="col-12 col-md-6 showAll showBoth showFuel">

    <table>
        <thead>
            <tr>
                <th colspan="4">گزارش عملیات بنزین</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th>نازل</th>
                <th>ابتدا دوره</th>
                <th>انتها دوره</th>
                <th>فروش</th>

            </tr>
            {% for nozzle in gasoline_nozzles %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ nozzle.start_totalizer }}</td>
                <td>{{ nozzle.end_totalizer }}</td>
                <td>{{ nozzle.end_totalizer|subtract:nozzle.start_totalizer }}</td>
               
            </tr>
            {% endfor %}

            
            <tr>
                <td colspan="3" >کل فروش مکانیکی بنزین</td>
                <td >{{ gasoline_mechanical_sales }}</td>
                
            </tr>
            <tr>
                <td colspan="3" >کل فروش الکترونیکی بنزین طبق گزارش سامانه</td>
                
                <td style="background-color: red;" >{{ station.electronic_gasoline_sales }}</td>
                

            </tr>
            <tr>
                <td colspan="3">مقدار سرک / کسری بنزین</td>
                
                <td style="background-color: red;" >{{ gasoline_difference }} ({{ gasoline_status }})</td>
                

            </tr>
            <tr>
                <td colspan="3" >مقدار کسری غیر مجاز بنزین</td>
                
                <td style="background-color: red;" >{{ qire_mojaz }}</td>
                

            </tr>
            <tr>
                <td colspan="3">مقدار مغایرت مکانیکی و الکترونیکی بنزین</td>
                
                <td style="background-color: red;" >{{ electronic_mechanical_discrepancy }}</td>
                

            </tr>
        </tbody>
    </table>
</div>


    <div class="col-12 col-md-6 showAll showBoth showGaz">

    <table>
        <thead>
            <tr>
                <th colspan="4">گزارش عملیات نفتگاز</th>
            </tr>
        </thead>
        <tbody>
            

            <tr>
                <th>نازل</th>
                <th>ابتدا دوره</th>
                <th>انتها دوره</th>
                <th>فروش</th>

            </tr>
            {% for nozzle in gas_nozzles %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ nozzle.start_totalizer }}</td>
                <td>{{ nozzle.end_totalizer }}</td>
                <td>{{ nozzle.end_totalizer|subtract:nozzle.start_totalizer }}</td>

               
            </tr>
            {% endfor %}
            <tr>
                
                <td colspan="3">کل فروش مکانیکی نفتگاز</td>
                 <td >{{ gas_mechanical_sales }}</td>

            </tr>
            <tr>
               
                <td colspan="3">کل فروش الکترونیکی نفتگاز طبق گزارش سامانه</td>
                <td style="background-color: yellow;">{{ station.electronic_gas_sales }}</td>

            </tr>
            <tr>
                <td colspan="3">مقدار سرک / کسری نفتگاز</td>

                <td style="background-color: yellow;">{{ gas_difference }} ({{ gas_status }})</td>

            </tr>
            <tr>
               
                <td colspan="3" > - </td>

                <td style="background-color: yellow;"> - </td>

            </tr>
            <tr>
                
                <td colspan="3" >مقدار مغایرت مکانیکی و الکترونیکی نفتگاز</td>
                <td  style="background-color: yellow;"> {{ electronic_mechanical_discrepancy_gas }} </td>

            </tr>
        </tbody>
    </table>
</div>
{% comment %} <ul class="text-white">
    <li>Gasoline Mechanical Sales: {{ gasoline_mechanical_sales }}</li>
    <li>Gas Mechanical Sales: {{ gas_mechanical_sales }}</li>
    <li>Gasoline End Inventory: {{ gasoline_end_inventory }}</li>
    <li>Gas End Inventory: {{ gas_end_inventory }}</li>
    <li>Total Gasoline Inventory: {{ total_gasoline_inventory }}</li>
    <li>Total Gas Inventory: {{ total_gas_inventory }}</li>
    <li>Gasoline Outflow: {{ gasoline_outflow }}</li>
    <li>Gas Outflow: {{ gas_outflow }}</li>
    <li>Gasoline Difference: {{ gasoline_difference }}</li>
    <li>Gas Difference: {{ gas_difference }}</li>
    <li>Gasoline Status: {{ gasoline_status }}</li>
    <li>Gas Status: {{ gas_status }}</li>
    <li>Qire Mojaz: {{ qire_mojaz }}</li>
    <li>Electronic-Mechanical Discrepancy (Gasoline): {{ electronic_mechanical_discrepancy }}</li>
    <li>Electronic-Mechanical Discrepancy (Gas): {{ electronic_mechanical_discrepancy_gas }}</li>
</ul> {% endcomment %}

<div class="border border-1 p-1 showBase">

    <div class="d-flex justify-content-between mt-5 mb-5">

        <div class="">
            <p class="text-white ">تاریخ گزارش : .........</p>
        </div>
        
    </div>

    <div class="">
        <p class="text-white text-center">امضاء :</p>
    </div>
    

</div>


<a href="{% url 'generate_pdf' station.id %}" class="showBase btn btn-success py-3 mt-1 mb-3 fw-bold mt-3 ">Download PDF</a>
</div>
</div>
</div>
{% endblock %}